
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/detail.css' %}">
    <title>User View</title>
</head>

<body>
    <div class="main">

        <form class="detail-form" action="">
            <header class="ui-header">User Information</header>
            <fieldset class="field-set">
                <label for="" class="label">First Name:</label>
                <p class="user">{{ user.fname }}</p>
                <label for="" class="label">Last Name:</label>
                <p class="user">{{ user.lname }}</p>
                <label for="" class="label">Category</label>
                <p class="user">{{ user.category }}</p>
                <label for="" class="label">Date Created</label>
                <p class="user">{{ user.date_created }}</p>
            </fieldset>
            <a class="btn btn-success" href="/usertable">Return</a>

        </form>


    </div>

</body>

</html>