{% load static %}
<html lang="en">
<head>
    <head>
        <title>PRACTICE</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
    </head>

<body>
    <div class="main">
        <div class="header">Practice Layout</div>
    </div>

    <form class="form" action="" method="POST">
        <label for="uname">Username</label>
        <input class="input" type="text" name="username" id="username">
        <label for="passw">Password</label>
        <input class="input" type="text" name="password" id="password">
        <input class="submit" type="submit" value="Submit">
    </form>

</body>
</html> 