{% extends 'index.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<div class="container-fluid">
  <header class="main-hdr">Dashboard</header>
  <div class="col">
    <section class="p-3">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{total}}</h3>

                <p>Total Users Registered</p>
              </div>
              <div class="icon">
                <i class='bx bx-user'></i>
              </div>
              <a href="/usertable" class="small-box-footer">More info <i class='bx bxs-right-arrow-circle' ></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{students}}</h3>

                <p>Students Registered</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/stdtable" class="small-box-footer">More info <i class='bx bxs-right-arrow-circle' ></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{teachers}}</h3>

                <p>Teachers Registered</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/tchtable" class="small-box-footer">More info <i class='bx bxs-right-arrow-circle' ></i></a>
            </div>
          </div>
          

        </div>
      </div>
    </section>


  </div>
</div>
{% endblock content %}
  