@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

.detail-form{
    margin: 5vh;
}
.ui-header{
    font-size: 3rem;
}

.label{
    font-weight: bold;
}
.user{
    font-size: 1rem;
    width: 100%;
    display: inline-block;
}
