@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';

}
.main-header{
    font-size: 2rem;
    font-weight: bold;
}
.main{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 20vh;


}
#c1{
    background: #0F3460;
}
#c2{
    background: #D1512D;
}
#c3{
    background: #645CBB;
}
.card{
    margin-top: 5vh;
    padding: 2vh;
    box-shadow: 10px 10px  #E94560;
}

.user-no{
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffff;

}

.user-no-title{
    font-size: 1rem;
    color: #ffff;
}
.section-header{
    font-size: 2rem;
}

.title-header{
    font-weight: bold;
    font-size: 2rem;
    padding: 2vh;
}

.btn-set{
    display: block;
}

