@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
.title-header{
    font-size: 3rem;
    color: #292b2c;
    text-shadow: 2px 2px 0px #F94A29;
}
.main-header{
    font-size: 2rem;
    font-weight: bold;
}
.main{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 10vh;
}
#c1{
    background: #0F3460;
}
#c2{
    background: #D1512D;
}
#c3{
    background: #645CBB;
}
.card-container{
    width: 100%;
    display: flex;
    gap: 5vh;
    margin-bottom: 5vh;
}
.card{
    margin-top: 5vh;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px  #B9B9B9;
}

.card:hover{
    transition: .4s;
}

.user-no{
    padding: 1vh;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffff;
}
.user-count{
    font-weight: bold;
}

.user-no-title{
    font-size: 1rem;
    color: #ffff;
}
#ul1{
    background: #234F84;
}
#ul2{
    background-color: #D96A4B;
}
#ul3{
    background-color: #7A73D0;
}

#ul1:hover{
    background-color: #85CDFD;
}
#ul2:hover{
    background-color: #3F4E4F;
}
#ul3:hover{
    background-color: #F8CB2E;
}

.user-link{
    padding: 5px;
    color: white;
    width: 100%;
    text-align: center;
}

.user-link:hover{
    color: #ffff;
    text-decoration: none;
}


.sect-img{
    padding-top: 3vh;
    height: auto;
    width: 250px;
}


.section-header{
    font-size: 1.7rem;
}

.title-header{
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2vh;
}


.btn-set a{
    padding: 2vh;
    margin-top: 2vh;
    display: block; 
}

.main-footer{
    text-align: center;
    color: #fcc;
    position: relative;
    margin-top: 5vh;
    background-color: #292b2c;
    width: 100%;
    height: 100px;
}

.footer-header{
    padding: 5px;
    font-size: 1.6rem;
    font-weight: bold;
}

.footer-contact{
    color: #ffff;
}

