@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
.main-header{
    font-size: 2rem;
    font-weight: bold;
}
.main{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 20vh;
}
#c1{
    background: #0F3460;
}
#c2{
    background: #D1512D;
}
#c3{
    background: #645CBB;
}
.card{
    margin-top: 5vh;
    box-shadow: 10px 10px  #E94560;
}

.user-no{
    padding: 1vh;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff;

}
#ul2{
    background-color: #D96A4B;
}
#ul3{
    background-color: #7A73D0;
}

.user-link{
    padding: 5px;
    background: #234F84;
    color: white;
    width: 100%;
    text-align: center;
}

.user-link:hover{
    color: #ffff;
    text-decoration: none;;
}


.user-no-title{
    font-size: 1rem;
    color: #ffff;
}
.section-header{
    font-size: 2rem;
}

.title-header{
    font-weight: bold;
    font-size: 2rem;
    padding: 2vh;
}

.btn-set{

}
.btn-set a{
    padding: 2vh;
    margin-top: 3vh;
    display: block; 
}

